<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <form class="four-oh-four-form">
          <input type="text" class="404-input">
        </form>
      
        <div class="terminal">
            <p class="prompt">The page you requested cannot be found right meow. Try typing 'kittens'.</p>
            <p class="prompt output new-output"></p>
        </div>
      </div>
</body>
</html>